//
@use 'bootstrap';

header{
    height: 100px;
    background-color: bisque;
    text-align: center;
    padding-top: 20px;

}
main{
    background-color: whitesmoke;
}

.card{
    height: 250px;
    margin: 20px

}